extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sagittis a nunc a congue. Suspendisse in libero risus. Etiam at semper turpis. Aenean porta est sed quam suscipit laoreet. Praesent sodales pellentesque ligula, consectetur iaculis velit sagittis eu. 

        p Vivamus imperdiet mattis lorem egestas tempor. Fusce sit amet vehicula dolor. Pellentesque sollicitudin porttitor enim eget scelerisque. Etiam at dolor eget odio luctus lacinia. 

        p Ut nec aliquet est, non blandit massa. Nulla maximus aliquam nulla, eget interdum metus fermentum in. Cras euismod rhoncus turpis, at vehicula velit finibus eget. 

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nam laboriosam eos officia labore placeat corporis eveniet veniam praesentium recusandae? Soluta distinctio ab unde rerum.

        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nam laboriosam eos officia labore placeat corporis eveniet veniam praesentium recusandae? Soluta distinctio ab unde rerum.

        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum nam laboriosam eos officia labore placeat corporis eveniet veniam praesentium recusandae? Soluta distinctio ab unde rerum.
